body{
  font-family: sans-serif;
}


.btn-login{
  background-color: #ef0808 !important;
  border: 0 !important;
  width: 100%;
  padding: 10px !important;
  font-size: 18px !important;
}

.btn-login:hover{
  background-color: #812a2a !important;
}

.contenedor-opc{
  display: flex;
  justify-content: space-around;
  gap: 4px;
}

.bi-caret-right-square-fill{
  color: #812a2a;
}

.col{
  flex: none;
}

.btn-volver{
  background-color: #ef0808 !important;
  color: #ffff !important;
  border: 0 !important;
}

.btn-volver:hover{
  background-color: #812a2a !important;
}

.btn-inscripcion{
  background-color: #ef0808 !important;
  color: #ffff !important;
  border: 0 !important;
}

.btn-inscripcion:hover{
  background-color: #812a2a !important;
}